/*One of the best fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

::-webkit-scrollbar{
    /*Looks cooler with no scrollbar*/
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(images/background.jpg);
}
.logo{
    color: rgb(29, 29, 29);
    font-size: 2em;
    font-weight: 800;
    pointer-events: none;
    padding-left: 40px;
}
.container{
    padding: 50px 10%;
}
nav{
    /*Navbar styling*/
    display: flex;
    flex-wrap: wrap;
    box-align: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-radius: 15px 15px 0 0;
    padding: 4px;
    
    
}
nav ul li{
    list-style: none;
    margin: 10px 20px;
    display: inline-block;
}
nav ul li a{
    /*link styling*/
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    
}
nav ul li a::after{
    /*hover animation styling*/
    right: 0;
    width: 0%;
    height: 4px;
    content: '';
    bottom: -6px;
    transition: 0.15s;
    border-radius: 3px;
    position: absolute;
    background: rgb(255, 255, 255);
}
nav ul li a:hover::after{
    width: 100%;

}

/* -- Beginning of Homepage styling -- */
.header-text{
    /*Header styling*/
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.25);
}
.header-text p{
    font-size: 30px;
    font-weight: 600;
}
.header-text h1{
    font-size: 60px;
    margin-top: 30%;
    font-weight: bolder;
}
.header-text h1 span.head{
    color: rgba(0,0,0,0.25);;
}
.header-text p span.home{
    color: rgb(216, 77, 77);
}
.header-text p span.about{
    color: rgb(226, 107, 60);
}
.header-text p span.essay{
    color: rgb(226, 178, 48);
}
.header-text p span.blog{
    color: rgb(245, 242, 65);
}
.header-text p span.design{
    color: rgb(227, 238, 69);
}

/* -- Beginning of About me styling -- */
#about{
    padding: 80px 0;
    color: rgb(0, 0, 0)
}
.container-blog{
    padding: 10px 10%;
}
.container-blog p{
    color: rgb(255, 255, 255);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-column-one{
    flex-basis: 35%;
}
.about-column-one img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.25);
}
.about-column-two{
    flex-basis: 60%;
}
.about-column-two h1{
    margin-bottom: 20px;
}
.subtext{
    font-size: 50px;
    font-weight: 900;
    color: #000000;
}
.tab-text{
    display: flex;
    margin: 20px 0 40px;
    color: rgb(0, 0, 0);
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    /*Similar effect as in the navbar's hover animation s*/
    content: '';
    width: 0;
    height: 5px;
    background: rgb(0, 0, 0);
    position: absolute;
    right: 0;
    bottom: -6px;
    transition: 0.35s;
    border-radius: 2px;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;

}
.tab-contents ul li span{
    color: rgb(82,185,202);
    font-size: 20px;
    font-weight: 700;
}
.tab-contents ul li span.do-like{
    font-size: 20px;
    font-weight: 700;
    color: rgb(119, 201, 207);
}
.tab-contents ul li span.dont-like{
    font-size: 20px;
    font-weight: 700;
    color: rgb(56, 76, 78);
}
.tab-contents ul li span.schools{
    list-style: circle;
    font-size: 20px;
    font-weight: 700;
    color: rgb(56, 76, 78);
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -- Beginning of Blog styling -- */
#blogposts{
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    background-image: url(images/background-2.jpg);
}
.blogtext{
    font-size: 50px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.blogtextsmall{
    font-size: 19px;
    font-weight: 600;
    margin-top: 10px;
}
.blog-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.blog-items div{
    background: rgb(248, 234, 234);
    padding: 40px;
    font-weight: 400;
    border-radius: 15px;
    transition: background 0.3s, transform 0.3s;
}
.blog-items div:hover{
    /*hover and fade animation for each post*/
    background-color: rgb(255, 255, 255);
    transform: translateY(-5px);
}
.blog-items h2{
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}
.blog-items p{
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(49, 61, 71);
}

/* -- Beginning of Design styling -- */
#design{
    padding: 50px 0;
}
.container-design{
    padding: 50px 10%;
}
.wframes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.wframe{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.wframe img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.wframe:hover img{
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.363);
}
.layer{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: left;
    font-size: 18px;
}
.layer h3{
    font-weight: 700;
    margin-bottom: 20px;
}
.layer p{
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.layer a{
    /*same link styling as used in the navbar*/
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    
}
.layer a::after{
    /*hover animation styling*/
    right: 0;
    width: 0%;
    height: 4px;
    content: '';
    bottom: -6px;
    transition: 0.15s;
    border-radius: 3px;
    position: absolute;
    background: rgb(255, 255, 255);
}
.layer a:hover::after{
    width: 100%;

}
.docum{
    margin-top: 50px;
}
.docum h1{
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.docum p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 10px;
}
.docum a{
    text-decoration: none;
    color: rgb(102, 77, 170);
}

.design-column-one{
    flex-basis: 49%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
    padding: 15px;
    border-radius: 15px;
}
.design-column-one p:first-child:first-letter{  
    float: left;    
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
.design-column-two{
    flex-basis: 50%;
    background-color: rgb(26, 25, 25);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
    padding: 15px;
    border-radius: 15px;
}
.design-column-two p{
    color: rgb(248, 234, 234);
}
.design-column-two p:first-child:first-letter{  
    float: left;    
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

/* -- Beginning of Essay styling -- */
#essays{
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    background-image: url(images/Essay-image.jpg);
}
.container-essay{
    padding: 10px 10%;
}
.container-essay p{
    color: rgb(255, 255, 255);
}
.essaytext{
    font-size: 50px;
    font-weight: 900;
    color: #ffffff;
}
.essay-content{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px;
}
.essay-reference{
    background: rgba(255, 255, 255, 0.363);
    border-radius: 15px;
    padding: 20px;
}
.essay-content h1{
    color: rgb(189, 169, 169);
    font-size: 20px;
    font-weight: 600;
    
}
.essay-reference p{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 35px;
}

.essay-content p{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 25px;
    
}
.essay-reference h1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    
}

/* -- Footer styling -- */
footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: rgb(19, 19, 19);
    margin-top: 20px;
}
footer p{
  font-weight: 200;
  color: rgb(155, 155, 155);
}
address{
    font-weight: 200;
  color: rgb(155, 155, 155);
}