/*One of the best fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

::-webkit-scrollbar {
    /*Looks cooler with no scrollbar*/
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    color: #000000;
    background: #ffffff;
}
header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(images/background.jpg);
}
.logo {
    color: #000;
    font-size: 2em;
    font-weight: 800;
    pointer-events: none;
}
.container {
    padding: 10px 10%;
}
nav {
    /*Navbar styling*/
    display: flex;
    flex-wrap: wrap;
    box-align: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-radius: 15px 15px 0 0
    
}
nav ul li {
    list-style: none;
    margin: 10px 20px;
    display: inline-block;
}
nav ul li a{
    /*link styling*/
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    text-decoration: none;
    
}
nav ul li a::after{
    /*hover animation styling*/
    right: 0;
    width: 0%;
    height: 4px;
    content: '';
    bottom: -6px;
    transition: 0.15s;
    border-radius: 3px;
    position: absolute;
    background: #ffffff;
}
nav ul li a:hover::after{
    width: 100%;

}

/* -- Beginning of Homepage styling -- */
.header-text{
    /*Header styling*/
    padding: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.25);
}
.header-text p{
    font-size: 30px;
    font-weight: 600;
}
.header-text h1{
    font-size: 60px;
    margin-top: 30%;
    font-weight: bolder;
}
.header-text h1 span.head{
    color: rgba(0,0,0,0.25);;
}
.header-text p span.home{
    color: rgb(216, 77, 77);
}
.header-text p span.about{
    color: rgb(226, 107, 60);
}
.header-text p span.essay{
    color: rgb(226, 178, 48);
}
.header-text p span.blog{
    color: rgb(245, 242, 65);
}
.header-text p span.design{
    color: rgb(227, 238, 69);
}

/* -- Beginning of About me styling -- */
#about{
    padding: 80px 0;
    color: #000;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-column-one{
    flex-basis: 35%;
}
.about-column-one img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.25);
}
.about-column-two{
    flex-basis: 60%;
}
.subtext{
    font-size: 50px;
    font-weight: 900;
    color: #000000;
}
.tab-text{
    display: flex;
    margin: 20px 0 40px;
    color: rgb(0, 0, 0);
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 4px;
    background: #000000;
    position: absolute;
    right: 0;
    bottom: -6px;
    transition: 0.13s;
    border-radius: 3px;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: rgb(82,185,202);
    font-size: 20px;
    font-weight: 700;
}
.tab-contents ul li span.do-like{
    font-size: 20px;
    font-weight: 700;
    color: rgb(90, 241, 191);
}
.tab-contents ul li span.dont-like{
    font-size: 20px;
    font-weight: 700;
    color: rgb(241, 108, 90);
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}